---
import MainLayout from "../layouts/MainLayout.astro"
import ExperienceCard from "../components/ExperienceCard.astro";
---
<MainLayout currentNav="Experience">
	<section class="section">
		<div class="columns">
			<ExperienceCard title="Ruby" experience="2 Years">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
				Velit iste quae in, quas odio fugit architecto eum iusto 
				ullam ea repudiandae alias accusamus sapiente fugiat. Quos 
				iure voluptatum accusamus dolore.
			</ExperienceCard>
	
			<ExperienceCard title="C++" experience="3 Years">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
				Velit iste quae in, quas odio fugit architecto eum iusto 
				ullam ea repudiandae alias accusamus sapiente fugiat. Quos 
				iure voluptatum accusamus dolore.
			</ExperienceCard>
	
	
			<ExperienceCard title="Nodejs" experience="2 Years">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
				Velit iste quae in, quas odio fugit architecto eum iusto 
				ullam ea repudiandae alias accusamus sapiente fugiat. Quos 
				iure voluptatum accusamus dolore.
			</ExperienceCard>
		</div>
	</section>
</MainLayout>