---
import "../styles/index.scss"

const navOptions = [
	{
		title: "Home",
		path: "/"
	},
	{
		title: "Experience",
		path: "/experience"
	},
	{
		title: "About",
		path: "/about"
	},
	{
		title: "Contact",
		path: "/contact"
	}
] as const


interface Props{
	currentNav: string
}

const { currentNav } = Astro.props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ryan McTague</title>
	</head>
	<body>
		<section class="hero is-dark is-medium">
			<div class="hero-body">
				<div class="container">
					<p class="title">
						Ryan McTague
					</p>
					<p class="subtitle">
						Developer
					</p>
				</div>
			</div>

			<div class="hero-foot">
				<nav class="tabs is-boxed is-fullwidth">
					<div class="container">
						<ul>
							{navOptions.map(option =>(
								<li class={option.title == currentNav ? "is-active" : ""}>
									<a href={option.path}>
										{option.title}
									</a>
								</li>
							))}
						</ul>
					</div>
				</nav>
			</div>
		</section>
		
		<slot/>
	</body>
</html>